<div class="app-container">
    <div class="header">
        <h2 {{action "home"}}>Service tickets</h2>

        <div class="new-section">
            <button {{action "navigate"}}>New Ticket</button>
        </div>
    </div>
    {{outlet}}
</div>
